<%= form_with(model: user,local: false) do |form| %>
   <div class="modal-body">
     
     <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Username %>
    <%= form.text_field :username,class: "form-control mt-3" %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :email,class: "form-control mt-3" %>
  </div>

  <div class="field">
    <%= form.label :Identifier %>
    <%= form.text_field :identifier ,class: "form-control mt-3" %>
  </div>

    <div class="field">
    <%= form.label :FirstName %>
    <%= form.text_field :first_name ,class: "form-control mt-3" %>
  </div>

    <div class="field">
    <%= form.label :LastName %>
    <%= form.text_field :last_name ,class: "form-control" %>
  </div>
      </div>
      <div class="modal-footer">

         <%= form.submit class: "btn btn-primary" %>
        <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>

      </div>  
<% end %>
