<div class="modal-body">
      <div class="col-lg-12">
      <p>
        <strong>UserName:</strong>
        <%= user.username %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= user.email %>
      </p>

      <p>
        <strong>Identifier:</strong>
        <%= user.identifier %>
      </p>

      <p>
        <strong>FirstName:</strong>
        <%= user.first_name %>
      </p>

      <p>
        <strong>LastName:</strong>
        <%= user.last_name %>
      </p>

    </div>
</div>    
<div class="modal-footer">
    <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
</div>